
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Carta</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content >

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Arrastra para refrescar" refreshingSpinner="crescent"
          refreshingText="Cargando...">
        </ion-refresher-content>
</ion-refresher>

     
<div class="cuadricula" >
<ion-card *ngFor="let item of listadoPanel;let i = index">
<div class="card">
  <div class="imagen">
    <!--<ion-img src="{{item.imagen}}"></ion-img>-->
  </div>

  <div class="descripcion">

  <div class="producto">
    <strong><h3>{{ item.producto }}</h3></strong>
  </div>
  
  <div class="precio">
    <strong><h3>{{ item.precio }}€</h3></strong>
  </div>

  <div class="boton">
      <ion-img (click)="agregarProductoComanda(item)" src="../assets/imagenes/add.png"></ion-img>
  </div>

</div>
</div>
  
</ion-card>
</div>



</ion-content>

