
.cantidad{
  margin-left: 4%;
  width: 16%

}

.precio{
  width: 15%;
}

.producto{
  width: 44%;
}


.boton{
  width: 69%;
}

.total{
  margin-left: 83%;
  margin-bottom: -12%;
  margin-top: -3%;
}
