<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>
  <ion-item *ngFor="let item of listadoPanel;let i = index">
  <div class="imagen">
        <ion-img src="{{item.imagen}}"></ion-img>
  </div>
  <div class="producto" col-6>
        <p>{{item.producto}}</p>
  </div>

  <div class="cantidad" col-3>
        <p>x<strong>{{item.cantidad}}</strong></p>
  </div>

  <div class="precio" col-3>
        <p>{{item.precio}}€</p>
  </div>
  </ion-item>

</ion-list>

</ion-content>
